<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

    </style>
</head>
<body>
    <header>
        <nav>
            <%= Enum.map(sets, fn set -> %>
                <span><%= set.name %></span>
            <% end) %>
        </nav>
    </header>

    <main>
        <%= Enum.map(sets, fn set -> %>
            <div id="<%= set.id %>">
                <%= Enum.map(set.icons, fn icon -> %>
                    <div>
                        <img src="<%= icon %>" />
                    </div>
                <%= end) %>
            </div>
        <% end) %>
    </main>
</body>
</html>
